* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}


/*  */
.top-bar {
    width: 100%;
    padding: 15px;

    background: #00000045;

    display: flex;
    justify-content: center;

}

.top-bar:hover {
    background: rgba(0, 0, 0, 0.45);
}

.top-bar h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-bar h1:hover {
    background-size: 0 3px, 100% 3px;
}

.top-bar h1 {
    background:
        linear-gradient(to right,
            rgb(100, 103, 200),
            rgb(200, 100, 100),
            rgb(200, 173, 100)),
        linear-gradient(to right,
            rgba(255, 0, 0, 1),
            rgb(255, 204, 0),
            rgb(0, 37, 200));
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 500ms;
}

/*  */


.head {
    width: 100%;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background: transparent;

}

.container {
    width: 100%;
    height: 100vh;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;

}

.overflow-hidden {
    overflow: hidden;
}

.calculator {
    background-color: rgb(20, 45, 77);
    padding: 20px;
    border-radius: 10px;
    margin: 5px;

}


.calculator form input {
    margin: 10px;
    border: 0;
    border-color: rgb(12, 30, 54);

    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: rgb(13, 28, 50);
    font-size: 20px;
    color: #fff;
    cursor: pointer;

}

.calculator:hover {
    zoom: 1.1;
    background-color: rgb(33, 70, 126);
}

.calculator form input:hover {
    background: rgba(255, 255, 255, 0.257);
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;

}


form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
}

form input.equal {
    width: 145px;
}

form input.operator {
    color: rgb(222, 205, 9);
}

form input.equal-operator {
    color: rgb(255, 234, 0);
    background: rgb(63, 144, 16);
}

form input.equal-operator:hover {
    background: rgb(67, 192, 5);
}

/* calculator 2 */


.head2 {
    width: 100%;
    color: #f6a400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background: transparent;
}

.calculator2 {
    background-color: rgb(77, 20, 20);
    padding: 20px;
    border-radius: 10px;
    margin: 5px;
}


.calculator2 form input {
    margin: 10px;

    border-left: 0;
    border-right: 0;
    border-radius: 5px;
    border-color: rgb(190, 121, 1);

    outline: 0;
    width: 60px;
    height: 60px;

    background: rgb(38, 11, 11);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #edb007;
    cursor: pointer;

}

.calculator2:hover {
    zoom: 1.1;
    background-color: rgb(135, 29, 29);
    background-repeat: no-repeat;
    position: relative;

}

.calculator2 form input:hover {
    background: rgba(255, 255, 255, 0.257);
    border-color: rgb(244, 110, 0);
}

/*  */

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
}

form input.equal2 {
    width: 145px;
}

form input.operator2 {
    color: rgb(255, 0, 0);
}

form input.equal-operator2 {
    color: rgb(255, 234, 0);
    background: rgb(63, 144, 16);

}

form input.equal-operator2:hover {
    background: rgb(67, 192, 5);
}

/* calculator 2 */


/* calculator 3 */


.head3 {
    width: 100%;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background: transparent;
}

.calculator3 {
    background-color: rgb(128, 88, 15);
    padding: 20px;
    border-radius: 10px;
    margin: 5px;
}

.calculator3 form input {
    margin: 10px;

    border-bottom: 0;
    border-left: 0;
    border-radius: 50px;
    border-color: rgb(244, 138, 0);

    outline: 0;
    width: 60px;
    height: 60px;

    background: rgb(68, 48, 0);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0f0d07;
    cursor: pointer;

}

.calculator3:hover {
    zoom: 1.1;
    background-color: rgb(189, 130, 11);
    background-repeat: no-repeat;
    position: relative;

}

.calculator3 form input:hover {
    background: rgba(255, 255, 255, 0.257);
    border-color: rgb(244, 110, 0);
}

/*  */
form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
}

form input.equal3 {
    width: 145px;
}

form input.operator3 {
    color: #edb007;
}

form input.equal-operator3 {
    color: rgb(255, 234, 0);
    background: rgb(63, 144, 16);
}

form input.equal-operator3:hover {
    background: rgb(67, 192, 5);
}

/* calculator 3 */